.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  /*border: 1px solid red;*/
  /*padding: 10%;*/
}

.login {
  /*border: 1px solid red;*/
  padding: 10%;
}

.register {
  display: block;
}
